@import "../../styles/variables.scss";

div.product-page {
  display: flex;
  flex-direction: column;
  .productslist {
    max-width: 80%;
    display: inline-flex;
    flex-wrap: wrap;
    background-color: rgb(255, 219, 165);
  }

  div.banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: $light-gray;
    padding: 1vw 0;
    // color: white;
    a {
      text-decoration: none;
      color: $text-color;
    }
  }
}
