@import "../../styles/variables.scss";

a.btn {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 60%;
  background-color: $primary-color;
  padding: 8px 20px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 3.5vw;
  border: solid 1px $primary-color;

  @include breakpoint-small {
    display: flex;
    align-self: initial;
    justify-content: center;
    width: 22vw;
    font-size: 2vw;
  }
}

a.link {
  display: block;
  // width: 150px;
  border: solid 1px white;

  padding-top: 20px;
  //border-radius: 5px;
  color: $primary-color;
  text-decoration: none;
}

a.btn:hover {
  border: solid 1px $primary-color;
  background: transparent;
  color: $primary-color;
  transition: all 0.5s ease;
}

a.link:hover {
  //border-bottom: solid 1px $primary-color;
  background: transparent;
  font-weight: 700;
  color: $primary-color;
  transition: all 0.5s ease;
}
