@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Barlow+Condensed:wght@100;400;700&display=swap");
@import "./variables.scss";

body {
  background-color: $background-color;
  margin: 0;
  color: $text-color;
  font-family: $body-font;
  font-weight: 400;
  font-size: 2vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
