@import "../../styles/variables.scss";

div.about-page {
  h2 {
    font-size: 5vw;
  }
  p {
    font-size: 3.5vw;
  }
  h3 {
    font-size: 4vw;
  }
  div.text-image {
    visibility: hidden;
    height: 0;
    display: none;
  }
  @include breakpoint-small {
    h2 {
      font-size: 4vw;
    }
    h3 {
      font-size: 3vw;
    }
    p {
      font-size: 2vw;
    }
    div.text-image {
      visibility: visible;
      height: unset;
    }
    div.image-text.sarah,
    div.image-text.lisa,
    div.image-text.micheal {
      visibility: hidden;
      height: 0;
      display: none;
      div.color-block {
        visibility: hidden;
        height: 0;
        display: none;
      }
    }
  }
  display: flex;
  flex-direction: column;
  row-gap: 8vw;
  hr {
    width: 80%;
  }
  div.slogan {
    margin-top: 5vw;
    display: flex;
    width: 80%;
    align-self: center;
    flex-direction: column;
    text-align: center;
    row-gap: 3vw;
    @include breakpoint-small {
      flex-direction: row;
      column-gap: 3vw;
      text-align: left;
    }
    div {
      display: flex;
      flex: 1;

      h2 {
        font-family: $title-font;
        display: flex;
        justify-content: center;
        //font-size: 3vw;
        margin: 0;
        margin-top: 4vw;
        flex: 1;
      }

      p {
        display: flex;
        justify-content: center;
        align-self: center;
        flex: 1;
      }
    }
  }

  div.team-pic {
    img {
      width: 100%;
      height: 50vw;
      object-fit: cover;
    }
  }

  div.history {
    display: flex;
    width: 80%;
    align-self: center;
    flex-direction: column;
    row-gap: 3vw;
    @include breakpoint-small {
      flex-direction: row;
      column-gap: 3vw;
    }
    h3 {
      font-family: $title-font;
      display: flex;
      justify-content: center;
      // font-size: 5vw;
      margin: 0;
      margin-top: 4vw;
      flex: 1;
    }

    p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      flex: 2;
    }
  }

  div.mission {
    display: flex;
    width: 80%;
    align-self: center;
    flex-direction: column;
    row-gap: 3vw;
    @include breakpoint-small {
      flex-direction: row;
      column-gap: 3vw;
    }
    h3 {
      font-family: $title-font;
      display: flex;
      justify-content: center;
      //font-size: 2.5vw;
      margin: 0;
      margin-top: 4vw;
      flex: 1;
    }

    p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      flex: 2;
    }
  }

  div.team {
    background-color: $light-gray;
    display: flex;
    justify-content: center;
    padding-bottom: 10vw;
    div {
      width: 80%;
      align-self: center;
      display: flex;
      flex-direction: column;
      div.meet {
        width: 100%;
        h3 {
          font-family: $title-font;
          //font-size: 3vw;
          // font-weight: 400;
          margin-top: 8vw;
        }
        hr {
          width: 100%;
          margin-bottom: 5vw;
        }
      }

      div.bio {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 4vw;
        div.text-image,
        div.image-text {
          width: 100%;
          display: flex;
          flex-direction: column;
          @include breakpoint-small {
            flex-direction: row;
          }
          column-gap: 5vw;
          div.text {
            flex: 1;
            justify-content: flex-start;
          }
          div.image {
            flex: 1;
            position: relative;

            img {
              width: 100%;
              // width: 100vw;
              aspect-ratio: 1/1.2;
              @include breakpoint-small {
                width: 97%;
                height: 50vw;
                object-fit: cover;
              }
              //height: 50vw;
              object-fit: cover;
              border-radius: 5vw;
              z-index: 1;
            }
            div.color-block {
              visibility: hidden;

              @include breakpoint-small {
                visibility: visible;
              }
              height: 40vw;
              width: 60%;
              background-color: $primary-color;
              border-radius: 5vw;
              position: absolute;
              bottom: -3%;
              right: -1%;
              z-index: 0;
            }
          }
        }
      }
    }
  }
}
