@import "../../styles/variebles.scss";

div.home-page {
  display: flex;
  flex-direction: column;
  row-gap: 8vw;
  div.hero {
    position: relative;
    div {
      position: absolute;
      top: 15vw;
      left: 10vw;
      h2 {
        font-family: $title-font;
        font-size: 4vw;
        margin-bottom: 3vw;
      }
      p {
        font-size: 2vw;
        margin-bottom: 4vw;
      }
    }
    img {
      width: 100%;
      border-radius: 0 0 10% 10%;
    }
  }

  div.certificates {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-self: center;
    img {
      width: 20vw;
    }
  }

  div.features {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-self: center;
    text-align: center;
    column-gap: 3vw;
    main.content {
      flex: 1;
      h3 {
        font-family: $body-font;
      }
    }
  }
  div.cta {
    width: 80%;
    display: flex;
    column-gap: 5vw;
    align-self: center;
    div.left {
      flex: 1;
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      main.content {
        flex: 1;
        display: flex;
        flex-direction: column;

        text-align: left;
        div.container.cta-card {
          display: flex;
          flex: 1;
          flex-direction: column;
          justify-content: space-between;
          h3 {
            font-family: $title-font;
          }
        }
      }
    }
    div.right {
      position: relative;
      flex: 1;
      img {
        width: 97%;
        border-radius: 5vw;
      }
      div.color-block {
        height: 70%;
        width: 60%;
        background-color: $primary-color;
        border-radius: 5vw;
        position: absolute;
        right: -1%;
        bottom: -2%;
        z-index: -1;
      }
    }
  }
  div.how-it-works {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
    row-gap: 3vw;

    main.content {
      div.HIW-explain {
        width: 70%;
      }
    }
    div.thumbnail-group {
      display: flex;
      justify-content: space-around;
      align-self: center;
      text-align: center;
      column-gap: 3vw;
      div.thumbnail {
        flex: 1;
        position: relative;
        img {
          width: 100%;
          aspect-ratio: 1/1;
          object-fit: cover;
          border-radius: 10%;
        }
        h3 {
          font-family: $body-font;
        }
        span {
          display: block;
          width: 5vw;
          height: 5vw;
          font-size: 2vw;
          background-color: $primary-color;
          border: solid 5px white;
          border-radius: 50%;
          text-align: center;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          top: -2vw;
          left: 40%;
        }
      }
    }
  }

  div.pick-your-choice {
    //width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
    row-gap: 3vw;

    main.content {
      div {
        width: 70%;
      }
    }

    div.video {
      width: 100vw;

      border-radius: 20px;
      overflow: hidden;
    }
  }

  div.articles-news {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
    row-gap: 3vw;

    main.content {
      div.AN-explain {
        width: 70%;
      }
    }
    div.thumbnail-group {
      display: flex;
      justify-content: space-around;
      align-self: center;
      text-align: center;
      column-gap: 3vw;
      div.thumbnail {
        flex: 1;
        position: relative;
        img {
          width: 100%;
          aspect-ratio: 1/1;
          object-fit: cover;
          border-radius: 10%;
        }
        h3 {
          font-family: $body-font;
        }
        a {
          display: block;
          width: 10vw;
          height: 4vw;
          font-size: 2vw;
          background-color: white;
          border-radius: 15px;
          text-align: center;
          color: $primary-color;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          top: -8vw;
          left: 5%;
          text-decoration: none;
        }
      }
    }
  }
  div.join {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;

    main.content {
      h3 {
        font-weight: 400;
      }
      width: 100%;
      background-color: $primary-color;
      color: white;
      padding-bottom: 3vw;
      border-radius: 20px;
      overflow: hidden;
    }
  }
}
