@import "../../styles/variebles.scss";

div.contact-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    margin-top: 5vw;
    width: 100%;
  }
  div {
    display: flex;
    width: 80%;
    margin-top: 3vw;
    column-gap: 3vw;

    div.contact-text {
      display: flex;
      flex: 1;

      flex-direction: column;
      div.phone,
      div.address {
        height: 6vw;
        display: flex;
        align-items: center;
        align-self: flex-start;
        border: solid 1px $border-color;
        border-radius: 3vw;
        padding: 0 2vw 0 1vw;
      }
      h2 {
        font-family: $title-font;
      }
      span.icon-container {
        width: 3vw;
        height: 3vw;
        background-color: $primary-color;
        color: white;
        border-radius: 50%;
        padding: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1vw;
      }
    }

    div.contact-form {
      flex: 1;
      height: inherit;
      form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div {
          width: 100%;
          display: flex;
          flex-direction: column;
          input.inputName,
          input.inputEmail {
            height: 3vw;
            border: solid 1px $border-color;
            border-radius: 5px;
            background-color: rgba(41, 69, 41, 0.195);

            font-family: $body-font;
            padding-left: 1vw;
          }
          textarea {
            height: 7vw;
            border: solid 1px $border-color;
            background-color: rgba(41, 69, 41, 0.195);
            font-family: $body-font;
            padding-left: 1vw;
            padding-top: 1vw;

            border-radius: 5px;
          }
          input.submit {
            width: 10vw;
            border: none;
            border-radius: 1vw;
            background-color: $primary-color;
            color: white;
            padding: 0.5vw;
            font-size: 1.5vw;
            font-family: $body-font;
          }
        }
      }
    }
  }
}
